.container{
    min-width: 100%;
}
.loader{
    z-index: 1000;
    background-color:orange;
    min-width:97.7%;
    min-height:97%; 
    position:fixed;
    color:white;
    text-align:center;
    padding-top:35vh;
    font-size:5.5vw;
    margin-left:auto;
    margin-right:auto;
}
.loader i{
    position:relative;
    animation: loader 1s infinite;
}
.searchLoader{
    z-index: 1000;
    background-color:rgba(255, 255, 255, 0.15);
    min-width:97.7%;
    min-height:97%; 
    position:fixed;
    display:none;
}
.menu{
    background-image: url('pizza.jpg');
    background-size: cover;
    height: 97vh;
    margin-bottom: 3vh;
}
.logo{
    height:15vh;
    font-size: 5vw;
    color:white;
    background-color:orange;
    width:25%;
    font-family: 'Acme', sans-serif;
    text-align: center;
    border-bottom-left-radius:  2%;
    border-bottom-right-radius:  2%;
    position:relative;
    animation: start 1.2s 1s forwards;
}
.searchBar{
    display:flex;
    margin-top:30vh;
    margin-left:17.5vw;
    width:80%;
}
#city{
    width:40%;
    height:8vh;
    margin-right:1vw;
}
#order{
    width:12%;
    height: 8vh;
    margin-right:1vw;
}
#sort{
    width:12%;
    height:8vh;
    margin-right:1vw;
}
#button{
    width:12%;
    height:8vh;
    font-size:1.3vw;
}
.info{
    width:32%;
    min-height:6vh;
    background-color: rgba(255, 255, 255, 0.9);
    margin-left:17.5vw;
    display:none;
    font-size: 1.3vw;
    color:rgb(235, 5, 5);
    text-align:center;
    border-radius:3%;
    margin-top:0.5vh;
    border: 0.08vw solid rgb(212, 212, 212);
    padding-top:0.5vh;
}
#results{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    margin-left:auto;
    margin-right: auto;
}
.box{
    width:46.5vw;
    min-height:25vh;
    display:flex;
    border: 0.08vw solid rgb(212, 212, 212);
    border-radius: 1.2%;
    margin-left:1.2vw;
    margin-bottom: 3vh;
    padding: 0.4vw;
    background-color: rgb(248, 248, 248);
    color:rgb(53, 53, 53);
}
.photo{
    width:15vw;
    min-height:25vh;
    background-size: cover;
    transition: transform 0.2s;
}
.photo:hover{
    transform: scale(1.04);
}
.data{
    width:25vw;
    min-height:25vh;
    margin-left:3vw;
    font-size:1.5vw;
}
.logotext{
    font-size:1.8vw; 
    font-weight:600;
}

@keyframes start{
    0% {left:0vw;}
    100%{left:37.5vw;}
    }
@keyframes loader{
    0% {top:0;}
    50% {top:7vh;}
    100% {top:0;}
}

@media screen and (max-width:930px){
    .logo{
        height:12vh;
        font-size: 6.7vw;
        width:35%;
        animation: none;
        left:32vw;
    }
    .searchBar{
        margin-left:12vw;
    }
    #order{
        width:17%;
    }
    #sort{
        width:17%;
    }
    #button{
        width:22%;
        font-size:2vw;
    }
}


@media screen and (max-width:1000px){
    .box{
        min-height:20vh;
    }
    .photo{
        min-height:20vh;
    }
    .data{
        min-height:20vh;
        font-size:2vw;
    }
    .logotext{
        font-size:2.3vw;
    }
}

@media screen and (max-width:750px){
    .box{
        min-height:17vh;
    }
    .photo{
        min-height:17vh;
    }
    .data{
        min-height:17vh;
        font-size:2.1vw;
    }
}

@media screen and (max-width:651px){
    .box{
        min-height:15vh;
        width:90%;
        margin-left:auto;
        margin-right:auto;
    }
    .photo{
        min-height:15vh;
        width:20vw;
    }
    .data{
        min-height:15vh;
        font-size:2.4vw;
        width:35vw;
        margin-left:12vw;
    }
    .logotext{
        font-size:2.7vw;
    }
}

@media screen and (max-width:600px){
    .logo{
        height:10vh;
        font-size: 7.6vw;
        width:40%;
        animation: none;
        left:29vw;
    }
    .searchBar{
        margin-left:12vw;
    }
    #order{
        width:17%;
    }
    #sort{
        width:17%;
    }
    #button{
        width:27%;
        font-size:2.5vw;
    }
    .loader{
        min-width:95%;
    }

}
@media screen and (max-width:530px){

    .photo{
        width:23vw;
    }
    .data{
        font-size:2.7vw;
    }
    .logotext{
        font-size:2.9vw;
    }
}

@media screen and (max-width:420px){
    .logo{
        height:8vh;
        font-size: 8.4vw;
        width:45%;
        animation: none;
        left:26vw;
    }
    .searchBar{
        margin-left:10vw;
    }
    #city{
        width:35%;
    }
    #order{
        width:23%;
    }
    #sort{
        width:23%;
    }
    #button{
        width:37%;
        font-size:2.9vw;
    }
    .loader{
        min-width:92.3%;
    }
    .box{
        min-height: 12vh;
    }
    .photo{
        width:23vw;
        min-height: 12vh;
    }
    .data{
        font-size:2.9vw;
        min-height: 12vh;
    }
    .logotext{
        font-size:3.1vw;
    }
}